.flipWords {
  z-index: 10;
  display: inline-block;
  position: relative;
  text-align: left;
  padding-left: 2px;
  padding-right: 2px;
}

.letter {
  display: inline-block;
}
.flipWords {
  display: inline-block;
  white-space: pre; /* Preserve spaces in the string */
}

.letter {
  display: inline-block;
  /* Optionally, adjust letter spacing if needed */
  /* letter-spacing: 0.1em; */
}
