.hero-section {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  .hero-section h1 {
    line-height: 72px;
    font-size: 3.75rem;
    text-align: center;
    color: rgb(29, 29, 29);
  }
  
  .hero-section p {
    font-size: 1.2em;
    color: #bbbbbb;
  }
  