.navbar {
  display: flex;
  max-width: fit-content;
  position: fixed;
  top: 10px;
  inset-inline: 0;
  margin-inline: auto;
  border: 1px solid transparent;
  border-color: rgba(255, 255, 255, 0.4);
  border-radius: 9999px;
  background-color: #fff;
  box-shadow: 0px 2px 3px -1px rgba(0, 0, 0, 0.2), 0px 1px 0px 0px rgba(25, 28, 33, 0.2), 0px 0px 0px 1px rgba(25, 28, 33, 0.2);
  z-index: 5000;
  padding-right: 8px;
  padding-left: 32px;
  padding-top: 8px;
  padding-bottom: 8px;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.navLink {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 1rem;
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.icon {
  height: 1rem;
  width: 1rem;
  color: #000;
}

.navText {
  display: none;
}
a {
  text-decoration: none;
  color: inherit;
}

@media (min-width: 640px) {
  .navText {
    display: block;
    font-size: 1rem;
  }

  .icon {
    display: none;
  }
}

.button {
  border: 1px solid rgba(255, 255, 255, 0.8);
  color: #000;
  font-size: 1rem;
  font-weight: 500;
  position: relative;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 9999px;
  cursor: pointer;
  text-decoration: none;
}

.button::after {
  content: '';
  position: absolute;
  inset-inline: 0;
  width: 50%;
  margin-inline: auto;
  bottom: 0;
  height: 2px;
  background: linear-gradient(to right, transparent, #4299e1, transparent);
}
