.header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 50;
  width: 100%;
  max-width: 100%;
  height: 72px;
  padding: 12px 0;
  background-color: var(--header-bg);
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 960px;
  gap: 8px;
  height: 100%;
  margin: 0 auto;
}

.link {
  font-size: 1rem;
  display: inline-flex;
  padding: 12px;
  border-radius: 8px;
  transition: background-color 0.3s;
}

.link:hover {
  background-color: var(--hover-bg-light);
}

.link:focus,
.link:hover {
  outline: none;
  background-color: var(--hover-bg-dark);
}

.textLink {
  font-size: 0.875rem;
  font-weight: normal;
  padding: 6px 12px;
  border-radius: 8px;
  transition: background-color 0.3s;
}

.iconLink {
  font-size: 0.875rem;
  font-weight: normal;
  padding: 6px 12px;
  border-radius: 8px;
  transition: background-color 0.3s;
}

.icon {
  width: 20px;
  height: 20px;
}

.screenReaderOnly {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
