.navbarContainer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .navbarMenu {
    position: relative;
    top: 2rem;
    max-width: 32rem;
    z-index: 50;
    background-color: #1d1d1d;
    border-radius: 9999px;
    box-shadow: #a1a1a1;
    padding: 1.5rem 2rem;
    display: flex;
    justify-content: center;
    gap: 1rem;
  }
  
  .linksWrapper {
    display: flex;
  }

  .link {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    font-size: 0.875rem;
  }

  .link li a {
    color: white;
    font-size: 16px;
  }
  