.image-uploader {
  text-align: center;
  width: 80%;
  margin: 1rem auto 8rem;
}

.dropzone {
  border: 2.5px dashed #2980ac;
  padding: 40px;
  background-color: #e6e6e6;
  border-radius: 0.5rem;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 16rem;
  position: relative;
}

.primaryButton {
  color: white;
  font-weight: 700;
  font-size: 22px;
  padding: 1rem 4rem;
  background-color: #2980ac;
  border-radius: 0.5rem;
  height: 70px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
}

.primaryButton svg {
  width: 2rem;
  height: 2rem;
  margin-right: .5rem;
}

.dropzone p {
  color: #1d1d1d;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.file-list {
  margin-top: 20px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.file-item {
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 8px;
  padding: 12px;
  margin-bottom: 10px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  position: relative;
}

.thumbnail {
  width: 50px;
  height: 50px;
  color: #2980ac;
  margin-right: 10px;
}

.file-details {
  flex: 1;
  display: flex;
  align-items: center;
}

.file-info, .file-action {
  flex-basis: 33.33%;
  padding: 0 10px;
}

.file-action {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.file-name, .file-progress {
  font-weight: bold;
  margin-bottom: 2px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
  max-width:150px;
}

.file-progress {
  color: #4CAF50;
  font-size: 0.9rem;
}
.format-select {
  width: 100%;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  max-width:150px;
}

.convert-button, .download-button {
  width: 100%;
  background-color: #7E57C2;
  color: white;
  border: none;
  border-radius: 20px;
  font-size: 0.9em;
  padding: 8px 0;
  cursor: pointer;
  max-width:150px;
}
.remove-button {
  background-color: transparent;
  color: rgb(143 143 143);
  border: none;
  font-weight: bold;
  font-size: 1.4rem;
  padding: 0;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-left: 10px;
}


.progress-container {
  height: 10px;
  width: 80px;
  background-color: #ffffff;
  border: 2px solid #42d13d;
  border-radius: 5px;
  margin-left: 20px;
}

.progress-bar {
  height: 100%;
  background-color: #42d13d;
  border-radius: 5px;
  text-align: center;
  color: white;
  line-height: 10px;
}

@media (max-width: 800px) {
  .file-list {
      width: 100%;
  }
  
}

@media (max-width: 600px) {
  .image-uploader {
      margin: 1rem auto 2rem;
      width: 80%;
  }
  .primaryButton {
    padding: .5rem 1rem;
    height: 60px;
}
.file-details {
      flex-direction: column;
      align-items: stretch;
  }
  .file-info, .file-action {
    flex-basis: auto;
        margin-bottom: 10px;
        align-items: center;
        display: flex;
        flex-direction: column;
  }
}


@media (max-width: 400px) {
  .image-uploader {
    width: 90%;
  }
  .dropzone {
    height: 14rem;
  }
 
  .file-action:last-child {
    margin-top: 10px;
  }
  .format-select,
  .convert-button,
  .download-button {
    max-width: 100%;
  }
}