.image-uploader {
  text-align: center;
  width: 80%;
  margin: 1rem auto 8rem;
}

.image-uploader .dropzone {
  border: 2.5px dashed #2980ac;
  padding: 40px;
  background-color: #e6e6e6;
  border-radius: 0.5rem;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 16rem;
  position: relative;
}

.primaryButton {
  color: white;
  font-weight: 700;
  font-size: 22px;
  padding: 1rem 4rem;
  background-color: #2980ac;
  border-radius: 0.5rem;
  height: 70px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.primaryButton svg {
  width: 2rem;
  height: 2rem;
  margin-right: .5rem;
}

.image-uploader .dropzone p {
  color: #1d1d1d;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.image-uploader .file-list {
  margin-top: 20px;
}

.image-uploader .file-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
  position: relative;
}

.image-uploader .file-item .thumbnail {
  width: 50px;
  height: 50px;
  color: #2980ac;
  margin-right: 10px;
}

.image-uploader .file-item .file-details {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.image-uploader .file-item .file-details p {
  margin: 0 10px;
  color: #1d1d1d;
}

.image-uploader select,
.image-uploader button {
  background-color: #2980ac;
  color: #ffffff;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.image-uploader select:hover,
.image-uploader button:hover {
  background-color: #1f6a8c;
}

.image-uploader button {
  border: 1px solid #2980ac;
}

.image-uploader .remove-button {
  padding: 5px 10px;
  margin: 0 5px;
  border-radius: 5px;
  border: 1px solid #e74c3c;
  background-color: #c0392b;
  color: #ffffff;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.image-uploader .remove-button:hover {
  background-color: #e74c3c;
}

.image-uploader .progress-container {
  height: 10px;
  width: 80px;
  background-color: #ffffff;
  border: 2px solid #42d13d;
  border-radius: 5px;
  margin-left: 20px;
}

.image-uploader .progress-bar {
  height: 100%;
  background-color: #42d13d;
  border-radius: 5px;
  text-align: center;
  color: white;
  line-height: 10px;
}

.image-uploader .download-button {
  padding: 0.5rem 1rem;
  background-color: #2ecc71;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  color: white;
  font-weight: bold;
  margin-left: 1rem;
  transition: background-color 0.2s;
}

.image-uploader .download-button:hover {
  background-color: #27ae60;
}
